@import url(//db.onlinewebfonts.com/c/174160cd2f61c87c65fe1f1b45412bf2?family=URWFranklinGothicW01-Demi);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {font-family: "URWFranklinGothicW01-Demi"; src: 
url("//db.onlinewebfonts.com/t/174160cd2f61c87c65fe1f1b45412bf2.eot"); src: 
url("//db.onlinewebfonts.com/t/174160cd2f61c87c65fe1f1b45412bf2.eot?#iefix") format("embedded-opentype"), 
url("//db.onlinewebfonts.com/t/174160cd2f61c87c65fe1f1b45412bf2.woff2") format("woff2"), 
url("//db.onlinewebfonts.com/t/174160cd2f61c87c65fe1f1b45412bf2.woff") format("woff"), 
url("//db.onlinewebfonts.com/t/174160cd2f61c87c65fe1f1b45412bf2.ttf") format("truetype"),
url("//db.onlinewebfonts.com/t/174160cd2f61c87c65fe1f1b45412bf2.svg#URWFranklinGothicW01-Demi") format("svg"); }
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,200&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,300;1,400;1,600&display=swap');


input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


:root {
  --BorderFontGray: #787878;
  --ColorGray: #292929;
}


body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Header */ 

header{
    font-family: 'Mulish' 'Open Sans' ;
    height: 100px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow:0 0 500px black;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.514);
}

#nav{
  width: 20%;
  letter-spacing: .5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#nav a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

#nav a:hover{
    color: gray;
    transition: ease 0.2s;
}

#nav span{
    color: white;
    font-weight: lighter;
    color: var(--ColorGray);
    font-size: 20px;
    font-weight: 500;
}

#header img{
    height: 60px;
    width: auto;
}   

#Header-Shopping-Cart svg{
  width: 30px;
  height: auto;
}

.hamburgerMenu svg{
    content: "";
    display: none;
}

.dropdown-menu {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    color: white;
    display: none;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .LIC{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .Sneakers:hover .dropdown-menu {
    display: block;
  }
  
  .menu-item {
    font-size: 2rem;
    text-align: center;
    margin: 0 10px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .dropdown-menu-social{
    width: 100%;
    display: flex;
    margin-top: 6%;
    justify-content: space-evenly;
  }

  .dropdown-menu-social svg{
    height: 30px;
    width: 35px;
  }

  #form {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: black solid;
    margin-left: 2%;
    border: var(--BorderFontGray) solid 0.052rem;
  }
  
  ::placeholder {
    color: rgb(65, 65, 65);
    opacity: 0.8; 
    font-size: 1rem;
  }

  #query{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 44px;
    font-size: 1rem;
  }

  #SearchButton {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  #SearchSVG {
    color: rgb(65, 65, 65);
    opacity: 0.8;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  .no-outline:focus {
    outline: none;
  }

 .pre-nav-design-icon{
  color: black;
  width: 30px;
  height: auto;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
 }

 .pre-nav-design-icon:hover{
  background-color: rgba(188, 188, 188, 0.403);
  border-radius: 50px;
 }

 .navAcc{
  display: flex;
  height: auto;
  justify-content: space-evenly;
 }

#nav-car-red-icon{
  width: 20px;
  height: 20px;
  margin-left: 1.3%;
  margin-top: 0.3%;
  border-radius: 100%;
  background-color: rgb(219, 14, 14);
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#red-icon-nr{
  font-size: 12px;
  color: white;
}


.HeaderLogin-B{
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderLogin-B a{
  text-decoration: none;
  color: black;
}

.HeaderLogin-B svg{
  width: 35px;
  height: 35px;
}



/* Intro side*/ 

.Product-full-HOF{
  display: flex;
  justify-content: center;
}


.HOF-wrapper img{
  width: 100%;
  cursor: pointer;
}


.Index-py-8-banner{
  width: 100%;
  margin-top: -1%;
  padding: 0;
}

.Index-py-8-banner img{
  width: 100%;
  height: auto;
}


#NewRelase-display-content-box{
    font-family: 'Nunito';
    font-weight: bold;
}

.IntroVideo{
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  z-index: -10000;
} 


.NewRelease-text{
    width: 60%;
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
}

.Product-display-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Index-bottom-boxes-size-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1378px;
  align-items: center;
  gap: 25px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Index-bottom-boxes-size-wrapper img{
  width: 49%;
  height: auto;
}


.Index-bottom-display-boxes{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#Product-display-header{
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.Product-display-col-ads{
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.Product-col-ads-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  justify-content: space-evenly;
}

.product {
  width: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}


.product:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0.3, 0.2);
  cursor: pointer;
}
.product-image {
  width: 80%;
  height: auto;
}
.product-name {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: bold;
  align-items: flex-start;
  width: 100%;
}
.product-description {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  color: #666;
  margin: 0;
}
.product-price {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  bottom: 20px;
  right: 20px;
  height: 30px;
}

.Uni-Product-Display-Header-Font{
  width: 1370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Uni-py-btm-redi{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.Uni-py-btm-redi svg{
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 50px;
}



.Uni-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.Uni-Product-col-ads-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  justify-content: space-evenly;
}

.Uni-product {
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.Uni-product:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0.3, 0.2);
  cursor: pointer;
}

.Uni-product-image {
  width: 80%;
  height: auto;
}

.Uni-product-name {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: bold;
  align-items: flex-start;
  width: 100%;
}

.Uni-product-description {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  color: #666;
  margin: 0;
}

.Uni-product-price {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  bottom: 20px;
  right: 20px;
  height: 30px;
}



.IntroBox{
    font-family: 'Varela Round', sans-serif;
    width: 250px;
    height: 160px;
    background-color: #F5F3F1;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.col1-product-brand h3{
  cursor: pointer;
  width: 150px;
  max-width: 150px;
}

.col-brand-check{
  display: flex;
  align-items: center;
}

.ProductCheckbox {
  display: none;
}

.ProductCheckbox + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.ProductCheckbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

.ProductCheckbox:checked + label:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-630%, -50%);
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
  box-sizing: border-box;
}








.IntroPage-BrandDisplay{
    margin-top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IntroPage-BrandDisplay-Wrapper{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.IntroBox img{
    width: 250px;
    height: 120px;
}

.NewRelease-display-content{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
}

.BottomIndexAd{
  cursor: pointer;
}

.BottomSupriseCom{
  width: 1370px;
  height: 300px;
  cursor: pointer;
}

.Index-bottom-col-redirect-top{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

#Index-bottom-redirect-arrow{
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 10000px;
}

.Index-row-bottom-display-Suprise{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.NewRlease-display-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
}

.SBDunkAD1-productcol-main{
  height: 400px;
  width: auto;
}

.Product-row-SBDunk-ads{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 1%;
  gap: 10px;
}

.Jordan-ad-width{
  width: 1380px;
  min-width: 640px;
}

.Product-header-svg-wrapper{
  display: flex;
  align-items: center;
  gap: 15px;
}

.Product-header-svg-wrapper svg{
  color: white;
  background-color: black;
  border-radius: 100%;
  padding: 3px;
  cursor: pointer;
}

.Product-col-ads-wrapper img{
  cursor: pointer;
}


.TitlesWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  margin-top: 20px;
}

.Title {
  width: 33.33%;
  text-align: center;
}

#checkmark{
  width: 30px;
  height: 30px;
}


.button-79 {
  backface-visibility: hidden;
  background: #332cf2;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: var(--BorderFontGray);
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(.125rem);
}

.Titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  height: 2rem;
  margin-bottom: 1rem;
  }
  
  .Product, .Price, .Total {
  width: 33.33%;
  text-align: center;
  }

.Home-Ad-Text{
  display: flex;
  margin-left: 3%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.Home-Ad-Text p{
 width: 600px;
 font-size: 1.4rem;
 font-weight: lighter;
}

.Home-Ad-Text2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  margin-right: 3%;
  direction: rtl;
  
}

.Home-Ad-Text2 p{
 width: 600px;
 font-size: 1.4rem;
 font-weight: lighter;
}

/* Footer */

footer{
  font-family: 'Poppins' sans-serif;
  background-color: var(--ColorGray);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.footer-wrap-container{
    height: 300px;
    width: 1370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-wrap-container span{
  cursor: pointer;
}

.footer-div-cha{
  display: flex;
  width: 350px;
  flex-direction: column;
  height: 70%;
  margin-bottom: 3%;
  color: rgb(225, 225, 225);
  
}

.footer-col-1header{
  font-weight: bolder;
}

.Footer-nav-col1-prod-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#footer-com-submit-inputfield {
  border: none;
  border-bottom: rgba(255, 255, 255, 0.286) solid 0.15rem;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  background-color: transparent;
}

#footer-com-submit-inputfield:focus {
  outline: none;
}

#footer-com-submit-submit-btn {
  border: rgba(255, 255, 255, 0.286) solid 0.15rem;
  cursor: pointer;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  margin-top: -15%;
  display: flex;
  justify-content: center;
  padding: 15px;
  align-items: center;
  color: white;
  font-size: 1rem;
  background-color: transparent;
}

.footer-binder-social{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
}

.footer-binder-social svg{
  cursor: pointer;
}

.footer-row2-foot-copy{
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-row2-foot-copy{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-binder-row15{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.binder-foot-80wi{
  border-top: rgba(255, 255, 255, 0.286) solid 0.15rem;
  color: white;
  width: 1370px;
  display: flex;
  padding-top: 1%;
  justify-content: space-evenly;
}

.binder-social-icons svg{
  color: white;
}

.footer-binder-contact{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
}

/* Shopping cart */ 

.ShoppingBody-Titles{
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.ShoppingBody-width-titles{
  display: flex;
  align-items: center;
  width: 1160px;
  justify-content: space-evenly;
  font-weight: 500;
  letter-spacing: 0.1em;
}

#title-total{
  margin-right: 2%;
}

.favhref-title{
  font-size: 24px;
  letter-spacing: 2.3px;
}

#cart-hidden{
width: 100%;
text-align: center;
font-size: 15px;
font-size: .75rem;
letter-spacing: .05em;
margin: 15px 0 0;
min-height: 3.25rem;
padding: 0.9375rem 0;
text-align: center;
text-decoration: none;
text-transform: uppercase;
transition: all .5s ease;
outline: 0;
width: 100%;
line-height: 1.25rem;
font-style: Normal;
font-weight: 500;
display: flex;
justify-content: center;
flex-direction: column;
margin-bottom: 10%;
margin-top: 10%;
}

#cart-container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 20px;
}

.cart-item {
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  height: 200px;
  border-bottom: 1px rgba(0, 0, 0, 0.308) solid;
}


.cart-item img {
  height: auto;
  max-width: 20%;
  width: auto;
}

.full-inf-body-3-t{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}


.info-cart-delete-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-cart-delete-div button{
  border: rgba(0, 0, 0, 0.172) solid 0.05rem;
  height: 50px;
  width: 50px;
}

.info-cart-delete-div button svg{
  width: 20px;
  height: 20px;
}


.cart-item-info {
  flex: 1;
  margin-left: 20px;
}

.cart-item-info p{
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.721);
  width: 200px;
}

.cart-item h3 {
  margin: 0;
  font-size: 18px;
}

.cart-item p {
  margin: 5px 0;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.quantity-input {
  width: 30px;
  text-align: center;
  border: 1px solid #ddd;
}

.quantity-button {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
}

.remove-btn,
.heart-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.remove-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-price {
  font-weight: bold;
}

.cart-checkout-container{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
}

.checkout-container-items{
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.checkout-button{
background-color: #041e3a;
border: 1px solid #041e3a;
border-radius: 0;
color: #fff;
cursor: pointer;
display: inline-block;
font-size: .75rem;
letter-spacing: .05em;
margin: 15px 0 0;
min-height: 3.25rem;
padding: 0.9375rem 0;
text-align: center;
text-decoration: none;
text-transform: uppercase;
transition: all .5s ease;
outline: 0;
width: 100%;
line-height: 1.25rem;
font-style: Normal;
font-weight: 500;
}

.checkout-button:hover{
  background-color: #0f3863;
border: 1px solid #0f3863;
}

.checkout-total-displayers{
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check-total-conts{
  font-weight: bold;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
}


.ShoppingCartContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 3%;
}

.ShoppingCartBody{
  background-color: rgb(242, 242, 242);
  width: 1370px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.info-cart-qty-wrap{
  width: 150px;
  height: 50px;
  display: flex;
  margin-right: -1%;
}

.carty-qty{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}


#cart-qty-inputField{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
}

.cart-qty-rem{
  background-color: #e6e6e6;
  border: rgba(0, 0, 0, 0.172) solid 0.05rem;
  border-left: none;
}

.cart-qty-add{
  background-color: #041e3a;
  color: white;
  border: rgba(0, 0, 0, 0.172) solid 0.05rem;
  border-right: none;
}

.cart-qty-amo{
  border: rgba(0, 0, 0, 0.172) solid 0.05rem;
}




/* Template layout */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1470px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 6rem;
  background-color: #ffffff;
  border-radius: 10px;
}

.Template-80w-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-wrapper{
  width: 30%;
  margin-right: 20%;
}

.shoe-details-headers{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
}

.shoe-details-headers h1 {
  font-size: 2rem;
  color: #333;
  font-weight: 500;
}

.shoe-details-headers h2 {
  margin-top: -3%;
  font-size: 1.2rem;
  color: var(--ColorGray);
  font-weight: bold;
}

.shoe-image {
  flex: 1;
  padding: 2rem;
}

.shoe-image img {
  max-width: 100%;
  height: auto;
}

.shoe-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}


.price-wrapper {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.price-label {
  color: #777;
}

.price {
  color: #333;
}

.shoe-detail-sizecol{
  margin-top: 5%;
  height: 376px;
  width: 355px;
  display: flex;
  flex-direction: column;
}

.shoe-detail-sizecol span{
  font-size: 1.1rem;
  font-weight: 500;
}

.mt2-sm {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 3%;
}

.mt2-sm>div {
  width: calc(100% / 3.1);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border 0.3s ease-in-out;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.css-xf3ahq{
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt2-sm>div:hover {
  border: 1px solid black;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="radio"]:checked+label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid black;
  pointer-events: none;
  border-radius: 5px;
}

.css-add-d-col {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 355px;
  justify-content: space-between;
}

.ncss-btn-primary-dark {
  height: 62px;
  width: 355px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  margin-top: 4%;
}

.item-added-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  margin-top: 4%;
}

.item-added-css{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  gap: 10px;
}



.icon-tabler-loader-2 {
  animation: spin 1s linear infinite;
}

.add-to-cart-btn {
  background-color: rgb(46, 44, 44);
  color: white;
  border: none;
  font-size: 1.1rem;
  font-weight: lighter;
  overflow: hidden;
}

.favorite-btn {
  background-color: transparent;
  border: #787878c7 solid 0.052rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: lighter;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-clip: padding-box;
  }


.favorite-btn svg {
  width: 20px;
  height: auto;
  transition: fill 0.5s ease;
}

.favorite-btn svg.fill-heart {
  fill: rgb(176, 60, 60);
  stroke: rgb(176, 60, 60);
  height: 25px;
  width: 25px;
  transition: 0.3s ease-in-out;
}


 #btn-check {
   display: none;
 }



/* ProductPage */

.Product-col-main-wrapper{
  display: flex;
  margin-top: 3%;
  justify-content: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.773);
  font-weight: 300;
  font-family: 'Poppins' sans-serif;
}

.Product-col-main-wrapper h2{
  color: black;
  font-weight: 700;
  font-family: 'Poppins' sans-serif;
}

.col1-product{
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 100px;
  height: 100%;
  -webkit-box-shadow: 7.5px 0px 0px -6px rgba(187, 187, 187, 0.43);
  -moz-box-shadow: 7.5px 0px 0px -6px rgba(187, 187, 187, 0.43);
  box-shadow: 7.5px 0px 0px -6px rgba(187, 187, 187, 0.43);
  margin-top: 3%;
  
}


.col1-product-sizeBoxes-wrap-product{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  list-style-type: none;
}

.css-1cpmeo1-SelectorTypeInputContainer button{
  background-color: transparent;
  border: var(--BorderFontGray) 0.052rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

.Product-col-page-wrapper{
  margin-left: 3%;
}

.Productcol-Display-Header-Font{
  width: 60%;
  display: flex;
  flex-direction: column;
}

#prod-header-wrap{
  width: 60%;
  margin: 0;
  padding: 0;
}

.ProductSpec-container{
  width: 880px;
  min-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col1-product-priceCat input{
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.col1-product-checkbox-priceBox{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.col1-product-sizeType-boxdiv input{
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.col1-product-sizeType-boxdiv{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}


.IndexAd{
  cursor: pointer;
}

.product-row-pagination-body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  gap: 8px;
  margin-left: 9%;
}

.product-row-pagination-body div{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgba(0, 0, 0, 0.477) solid 0.005rem;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
}




/* University blue shoe page */ 

.UniBlue-main-contenter-cont-css{
  display: flex;
  align-items: center;
  justify-content: center;
}

.UniB-wrap-cont-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Ub-head-img-src{
  width: 100%;
}

.Ub-head-img-src img{
  width: 100%;
}

.UBareaTotal{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Urbal-header-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Urbal-header-div h1{
  font-size: 3rem;
}

.UB-head-WhiteSection{
  height: 400px;
}

.UB-head-BlackSection{
  height: 350px;
  background-color: black;
  color: white;
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Urbal-header-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}



/* Info side */

.right-side-col-boxes{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 3%;
}

#ProductSpec-container{
  margin-bottom: 50px;
}

.column-boxes-body{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 60%;
  height: 600px;
}

#column-box img:hover{
  width: 670px;
  transition: 0.5s;
  cursor: pointer;
}


.top-page-FAQ-body{
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page-FAQ-with-holder{
  width: 1370px;
  display: flex;
  flex-direction: column;
}

.top-page-FAQ-boxes{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}


.top-body-boxes-box{
  background-color: #f1f1f1;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 235px;
  height: 108px;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.top-body-boxes-box p{
  font-size: 1.2rem;
  font-weight: bolder;
}

.top-body-boxes-box span{
  font-size: 1.1rem;
  padding-bottom: 4%;
}

.box-int-red svg{
  margin-bottom: 3%;
}

.box-int-red{
  display: flex;
  align-items: center;
  color: rgb(35, 86, 25);
}

.Design-full-body{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-body-width{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.Design-divs-colorized{
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



#typo-button{
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100px;
  z-index: 9;
  border: 0;
}

#typo-button svg{
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

#typo-button:hover svg {
  transform: translateX(10px);
}

.Design-text-font-body{
  padding: 40px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.text-f-font{
  margin-top: -5%;
  margin-bottom: 5%;
}

.Design-text-font-body span{
  font-size: 1.2rem;
}
.Design-text-font-body h1{
  font-size: 3rem;
}

.text-f-font{
  width: 350px;
}

.top-page-FAQ-header{
  width: 1370px;
  display: flex;
  justify-content: flex-start;
}

.info-mid-design-row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}

.info-mid-design-width-holder{
  display: flex;
  flex-direction: column;
}

.mid-semi-box-displayer{
  display: flex;
  justify-content: space-between;
  width: 1370px;
}

.info-mid-design-width-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1370px;
}

.info-design-box-text h3{
  font-weight: 500;
  font-size: 1.3rem;
}

.info-design-box-text{
  padding: 3%;
}

.info-design-boxes{
  width: 660px;
  padding-bottom: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-top-banner-info img{
  width: 100%;
  height: 100%;
}


.info-design-box-button-body{
  background-color: #292929;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fbfbfb;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 3%;
}



.info-design-box-button-body:hover{
  background-color: #555555;
  transform: translateY(-3px);
}

.info-abt-body{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.info-abt-wi-wrapper{
  width: 1370px;
  display: flex;
  flex-direction: column;
}

.info-abt-text-body p{
  font-size: 18.5px;
}


.info-forma-wrapper{
  display: flex;
  width: 1370px;
  height: 350px;
}

.info-abt-text-row-img{
  margin-left: 15%;
}


.info-about-header{
  font-size: 32px;
  letter-spacing: .75px;
  font-weight: normal;
}

.info-abt-text-body{
  width: 605px;
}









/* Intro side best seller / new release sko text */


#NewRelase-display-content-box h3{
    margin-top: -2%;
    font-size: 1.2rem;
    font-weight: lighter;
}

#NewRelase-display-content-box h4{
    margin-top: -8%;
    font-size: 1rem;
    font-weight: lighter;
}

#NewRelase-display-content-box h5{
    margin-top: -10%;
    font-size: 1.5rem;
    font-weight: bold;
}

#display-shoe-name{
    font-size: 1.4rem;
}




/* Designmanual */

.Design-top-intro-body{
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.216);
}

.Design-intro-body-wrapper{
  width: 1040px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.design-into-content{
  width: 50%;
}

.design-info-header{
  font-family: 'nunito', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: rgba(128, 128, 128, 0.279) solid 1px;
}

.design-info-header h3{
  margin-bottom: -0.5%;
}

.design-info-titles{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.design-info-title-cont{
  font-size: 1.4rem;
  color: rgb(103, 103, 103);
}

.design-intro-img{
  width: 400px;
}

.design-intro-img img{
  width: 100%;
  height: auto;
}


.design-800-w{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
  padding-bottom: 3%;
  border-bottom: rgba(128, 128, 128, 0.279) solid 1px;
}

.white-logo-bgc{
  background-color: #1b1f28;
}

.design-700-w{
  font-family: 'Roboto';
  color: rgb(48, 48, 48);
  margin-top: 2%;
  width: 700px;
}

.design-typo-desc-body p{
  font-size: 2rem;

}

.Design-secondry-p-text h1{
  font-weight: 400;
  font-size: 2rem;
}
.Design-secondry-p-text p{
  font-size: 22px;
  font-weight: 300;
  line-height: 1.7;
}

.Design-typo-p-body{
  margin-top: 2%;
}

.design-type-text-body h1{
  font-weight: 400;
  font-size: 2rem;
}

.design-type-text-body p{
  font-size: 22px;
  font-weight: 300;
  line-height: 1.7;
}

.design-logo-img-body{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.design-logo-img-body img{
  width: 30%;
}

.design-logo-img-mono-body{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}

.design-logo-img-mono-body img{
  padding: 10px;
}

.img-mono-body p{
  color: #808080;
}

.design-logo-wrapper p{
  font-size: 18px;
}

.design-checkout-body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding-left: 4rem;
  margin-bottom: 4rem;
}

.design-color-section{
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}


.design-typ-question-body {
  display: flex;
  align-items: center;
  gap: 15px;
}

#design-color-box-question {
  display: none;
}

.design-typ-question-body svg {
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 100%;
}



.design-type-img img{
  border: rgba(128, 128, 128, 0.279) solid 1px;;
}

.design-typ-color-display-body{
  width: 700px;
}

.design-type-color-btm-text{
  width: 150px;
  height: 100px;
}

.btm-txt-hd{
  font-size: 18px;
  font-weight: bolder;
}

.btm-txt{
  margin-top: -10%;
}

.design-typo-color-box{
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#black{
  padding: 50px 20px;
  background-color: black;
}

#navy{
  padding: 50px 20px;
  background-color: #1b1f28;
}

#gray{
  padding: 50px 20px;
  background-color: #666;
}

#white{
  padding: 50px 20px;
  background-color: #e1e1e1;
}

#DNavy{
  padding: 50px 20px;
  background-color: #041e3a;
}

#DGray{
  padding: 50px 20px;
  background-color: rgb(46,44,44);
}



/* Login form */

.login-container {
  width: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 100px rgba(50, 48, 59, 0.3);
  border-radius: 15px;
}

.login-form {
  z-index: -1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.invalidDisplay {
color: #f44336;
font-size: 14px;
margin-bottom: 10px;
text-align: center;
}

.hr-with-logo {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.hr-with-logo .email-border {
  border-bottom: 1px solid #cecece;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}


.hr-with-logo .center-text {
  color: #999;
  text-align: center;
  margin: 0 10px;
  font-family: proxima-nova,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  color: #666;
  white-space: nowrap
}


.user-info-wrapper{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: rgb(164, 36, 36);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.input-field {
  height: 40px;
  border: none;
  border: rgba(0, 0, 0, 0.422) solid 0.052rem;
  border-radius: 10px;
  width: 305px;
  padding-left: 45px; 
}


.login-disclaimer{
  font-size: 12px;
}


.submit-login {
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #041e3a;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
}

.login-form-head-div{
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  border-bottom: rgba(0, 0, 0, 0.146) solid 0.052rem;
}

.submit-login:hover {
  background-color: #0a2e55;
}

#loginBODY {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


#login-body-overflow{
  overflow: hidden;
}

.input-icon {
  position: relative;
  margin-right: 3%;
}

.input-icon svg {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  stroke: #808080;
}

.btn-display-div-wrapper{
  display: flex;
  margin-left: 15%;
  width: 250px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.btn-display-alt-login-svgimg img{
  width: 24px;
  height: auto;
}

.btm-btn-display-alt{
  cursor: pointer;
  border: rgba(0, 0, 0, 0.422) solid 0.052rem;
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}


#twitter{
  color: #1DA1F2;
}

#facebook{
  color: #4267B2;
}

#apple{
  fill: black;
}




/*  Personal page */

#doc-person-HTML{
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

#personPGt{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  
}

.personal-inlog-ful-temp{
  width: 100%;
  height: 100%;
  display: flex;
}

.person-col-left-binder{
  height: 100%;
  background-color: rgb(243, 243, 243);
  width: 10%;
}

.total-body-col12-bgc{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 50px;
}

.user-info{
  margin-top: 40px;
  font-size: 1.1rem;
  text-align: center;
}

.user-personal-info-ow-body{
  margin-left: 80px;
  display: flex;
  gap: 160px;
}

.personal-info-user{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 600;
}

.inlog{
  font-weight: 300;
  margin-top: -2%;
}

.total-body-col-bgc-div{
  height: 67px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 10px;
}

.total-body-col-bgc-div:hover{
  background-color: rgb(223, 223, 223);
}

.total-body-col-bgc-div svg{
  height: 28px;
  width: auto;
}

.total-bod-bgc-txt-content{
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-around;
  font-size: 0.8rem;
  font-weight: 500;
  padding-left: 15px;
}

.total-bod-bgc-txt-content h2,
.total-bod-bgc-txt-content h4{
  font-weight: 500;
}

.total-bod-bgc-txt-content h4{
  margin-top: -6%;
}


.user-personal-info-overview{
  width: 90%;
}

.user-person-title{
  margin-left: 80px;
  width: 70%;
  margin-top: 3%;
  border-bottom: rgba(128, 128, 128, 0.521) solid 0.052rem;
}



/* Contact page */

.contact-front-top-header{
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.contact-front-top-header h1{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #273646;
}

.contact-front-top-header h4{
  color: #848484;
  font-size: 1.2rem;
  margin-top: -1.3%;
  font-weight: 100;
}

.contact-hlp-cat-body,
.contact-con-body-wrapper,
.contact-inst-full-body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-con-body-wrapper{
  margin-bottom: 2%;
  margin-top: 2%;
}

.contact-help-flex-wrp-wrapper{
width: 1370px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.contact-help-body-1370-wrapper{
  display: flex;
  margin-bottom: 3%;
}

.contact-body-1370-wrapper{
  display: flex;
  width: 1370px;
  justify-content: space-evenly;
}
.contact-help-div-body{
  width: 412px;
  display: flex;
  border: rgba(0, 0, 0, 0.518) solid 0.02rem;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.contact-help-text-content{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contact-help-body-1370-wrapper{
  width: 1370px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-help-div-body svg{
  height: 50px;
  width: 50px;
}




.contact-insta-headers p{
  margin-top: -1.5%;
}

.contact-insta-headers{
  display: block;
  font-size: .95em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.contact-inst-full-body{
  margin-bottom: 3%;
}

.contact-insta-ad-body img{
  width: 262px;
  height: 300px;
  cursor: pointer;
}

.contact-insta-ad-body{
  display: flex;
  width: 1370px;
  justify-content: space-between;
}

.cont-insta-video{
  width: 810px;
  height: 500px;
  border-radius: 5px;
}

.insta-vid-comp-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact-insta-termvid-1370-wrapper{
  width: 1370px;
  display: flex;
  justify-content: space-between;
}

.video-container {
  position: relative;
  width: 810px;
  height: 500px;
}

.video-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.video-icon {
  cursor: pointer;
  height: 100px;
  width: 100px;
  color: rgba(255, 255, 255, 0.462);
}

.contact-insta-video-text-h-content{
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-in-sub{
  font-size: 18px;
}

.contact-in-h{
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}




#row{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.wpcf7-submit{
  color: #ffffff;
  height: 50px;
  background-color: #333333;
  font-size: 18px;
  float: right;
  margin-top: 2%;
  margin-right: .7%;
  border: #333333 solid 1px;
  display: block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-body-header{
  margin-bottom: 1.6rem;
    font-size: 26px;
    line-height: 1.2;
    margin: 0;
    color: #333333;
    text-rendering: optimizelegibility;
    font-weight: normal;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}

.form{
  width: 1370px;
}

.wpcf7{
  width: 600px;
  height: 3rem;
  line-height: 4.8rem;
  border: #949494 solid 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-size: 14px;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  padding: 0px 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
}

.form-body-fname-form h3{
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
    line-height: 1.5;
    font-size: 20px;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: bottom;
    background: transparent;
    color: rgb(46, 46, 46);
}

#row-linesplit{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#linesplit{
  width: 1370px;
  border-bottom: rgba(0, 0, 0, 0.337) solid 0.095rem;
  margin-bottom: 3%;
}

.wpc7{
  width: 685px;
  height: 9rem;
  border: #949494 solid 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-size: 14px;
  padding: 0px 1.6rem;
  text-align: start;
}

.form-body-row-col-wrapper{
  display: flex;
  gap: 25px;
}

.form-body-col-1-wp{
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



/* Favorite page */


#favorite-hidden{
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-size: .75rem;
letter-spacing: .05em;
margin: 15px 0 0;
min-height: 3.25rem;
padding: 0.9375rem 0;
text-align: center;
text-decoration: none;
text-transform: uppercase;
transition: all .5s ease;
outline: 0;
width: 100%;
line-height: 1.25rem;
font-style: Normal;
font-weight: 500;
display: flex;
justify-content: center;
flex-direction: column;
margin-bottom: 8%;
}

.favorite-href{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.favorite-href:hover{
  text-decoration: underline;
}

.fav-redirect-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fav-redirect-wrapper a{
  cursor: pointer;
}

.fav-redirect-wrapper svg{
  cursor: pointer;
}

.favorite-top-header-display{
  margin-top: 3%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.favorite-top-header-display svg{
  width: 100px;
  height: 100px;
  stroke-width: 0.5;
  margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.Favorite-Titles{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Favorite-width-titles{
  display: flex;
  justify-content: space-evenly;
  width: 1370px;
}

.favorite-item {
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  height: 200px;
  border-bottom: 1px rgba(0, 0, 0, 0.308) solid;
}


.favorite-item img {
  margin-left: 20%;
  height: auto;
  max-width: 10%;
  width: auto;
}

.favorite-item-info {
  flex: 1;
  margin-left: 20px;
}

.favorite-item-content p{
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.721);
  width: 200px;
  margin: 0;
  padding: 0;
}

.favorite-item h3 {
  margin: 0;
  font-size: 18px;
}

.favorite-item p {
  margin: 5px 0;
}

p.fav-prod-price{
  margin-left: 7%;
}

.body-stock{
  margin-left: 16%;
}

.cx-btn{
  margin-left: 5%;
  width: 200px;
  padding: 0;
}
.cx-btn button{
  width: 100%;
  font-size: .95rem;
}







/* Media queries */

@media only screen and (max-width: 850px) {
    .hamburgerMenu svg {
      display: block;
      color: white;
      height: 30px;
      width: 30px;
    }
  }


  @media only screen and (max-width: 850px) {
    #nav li span{
      content: "";
      display: none;
    }
  }

  @media only screen and (max-width: 850px) {
    #form{
      content: "";
      display: none;
    }
  }

  @media only screen and (max-width: 850px) {
    .navAcc{
      width: 30px;
      height: auto;
    }
  }

  @media only screen and (max-width: 850px) {
    #header img{
      height: 10vw;
    }
  }

  @media only screen and (max-width: 850px) {
    header{
      background-color: black;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  @media only screen and (max-width: 810px) {
    .IntroPage-BrandDisplay-Wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media only screen and (max-width: 850px) {
    .IntroBox{
      margin-bottom: 15px;
    }
  }

  @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }

  @media only screen and (max-width: 850px) {
    .products-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media only screen and (max-width: 850px) {
    .Product-header-svg-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media only screen and (max-width: 850px) {
    .BottomSupriseCom {
      width: 100%;
      height: auto;
    }
  }


  @media only screen and (max-width: 850px) {
    .Index-bottom-boxes-size-wrapper img {
      width: 100%;
    }
  }

  @media only screen and (max-width: 850px) {
    #IndexAd{
      display: none;
    }
  }

  @media only screen and (max-width: 850px) {
    #JordanIndexAd{
      display: none;
    }
  }
  @media only screen and (max-width: 850px) {
    .IndexDunkAd{
      display: none;
    }
  }
  @media only screen and (max-width: 850px) {
    .SBDunkAD1-productcol-main{
      width: 100%;
      height: auto;
    }
  }
  @media only screen and (max-width: 850px) {
    .Product-row-SBDunk-ads{
      display: flex;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 850px) {
    .footer-wrap-container{
    height: auto;
    display: flex;
    flex-direction: column;
    }
  }

  @media only screen and (max-width: 850px) {
    footer{
    height: auto;
    }
  }

  @media only screen and (max-width: 850px) {
    .binder-foot-80wi{
      height: auto;
      display: flex;
      padding-top: 40px;
    }
  }

  @media only screen and (max-width: 850px) {
    .footer-binder-social{
      display: none;
    }
  }



  @media only screen and (max-width: 850px) {
    .footer-row2-foot-copy{
      padding-top: 30px;
    }
  }


  







